In [96]:
import boto3

dynamodb = boto3.client('dynamodb')
table_name = 'Productos'

key_schema = [
    {
        'AttributeName': 'TipoProducto',
        'KeyType': 'HASH'
    },
    {
        'AttributeName': 'IDProducto',
        'KeyType': 'RANGE'
    }
]

attribute_definitions = [
    {
        'AttributeName': 'TipoProducto',
        'AttributeType': 'S'
    },
    {
        'AttributeName': 'IDProducto',
        'AttributeType': 'S'
    }
]

provisioned_throughput = {
    'ReadCapacityUnits': 10,
    'WriteCapacityUnits': 5
}

In [97]:
# create table
response = dynamodb.create_table(
    TableName=table_name,
    KeySchema=key_schema,
    AttributeDefinitions=attribute_definitions,
    ProvisionedThroughput=provisioned_throughput
)

try:
    table = dynamodb.describe_table(TableName=table_name)
    print(f"the {table_name} table already exists")
except dynamodb.exceptions.ResourceNotFoundException:
    response = dynamodb.create_table(
        TableName=table_name,
        KeySchema=key_schema,
        AttributeDefinitions=attribute_definitions,
        ProvisionedThroughput=provisioned_throughput
    )
    print(f"{table_name} created")
except Exception as e:
    print(f"error: {str(e)}")

the Productos table already exists

In [109]:
# items
items = [
    {
        'TipoProducto': 'Libros',
        'IDProducto': '9',
        "Titulo": "El Gran Gatsby",
        "Autor": "F. Scott Fitzgerald",
        "Precio": 15.99
    },
    {
        'TipoProducto': 'Electronicos',
        'IDProducto': '2',
        "Nombre": "Kindle Paperwhite",
        "Marca": "Amazon",
        "Precio": 129.99
    },
    {
        'TipoProducto': 'Libros',
        'IDProducto': '3',
        "Titulo": "Cien Años de Soledad",
        "Autor": "Gabriel García Márquez",
        "Precio": 12.99
    },
    {
        'TipoProducto': 'Electronicos',
        'IDProducto': '4',
        "Nombre": "iPad Pro",
        "Marca": "Apple",
        "Precio": 799.99
    }
]

In [110]:
# put items
for item in items:
    print(item)
    response = dynamodb.put_item(
        TableName=table_name,
        Item={k: {'S': str(v)} for k, v in item.items()}
    )
    print(f"Inserted item: {item['IDProducto']}")

print("All items inserted successfully.")

{'TipoProducto': 'Libros', 'IDProducto': '9', 'Titulo': 'El Gran Gatsby', 'Autor': 'F. Scott Fitzgerald', 'Precio': 15.99}
Inserted item: 9
{'TipoProducto': 'Electronicos', 'IDProducto': '2', 'Nombre': 'Kindle Paperwhite', 'Marca': 'Amazon', 'Precio': 129.99}
Inserted item: 2
{'TipoProducto': 'Libros', 'IDProducto': '3', 'Titulo': 'Cien Años de Soledad', 'Autor': 'Gabriel García Márquez', 'Precio': 12.99}
Inserted item: 3
{'TipoProducto': 'Electronicos', 'IDProducto': '4', 'Nombre': 'iPad Pro', 'Marca': 'Apple', 'Precio': 799.99}
Inserted item: 4
All items inserted successfully.

In [99]:
# update item
new_values = {
    "Titulo": "1985",
    "Autor": "George Orwell",
    "Precio": 5.23,
    "Genero": "Ficción"
}

update_expression = "SET Titulo = :Titulo, Autor = :Autor, Precio = :Precio, Genero = :Genero"

expression_attribute_values = {
    ':Titulo': {'S': new_values['Titulo']},
    ':Autor': {'S': new_values['Autor']},
    ':Precio': {'N': str(new_values['Precio'])},
    ':Genero': {'S': new_values['Genero']}
}

key = {
    'TipoProducto': {'S': 'Libros'},
    'IDProducto': {'S': '1'}
}

response = dynamodb.update_item(
    TableName=table_name,
    Key=key,
    UpdateExpression=update_expression,
    ExpressionAttributeValues=expression_attribute_values
)

print("Item updated")

Item updated

In [100]:
# Delete item

product_type = 'Libros'
product_id = '3'

response = dynamodb.delete_item(
    TableName=table_name,
    Key={
        'TipoProducto': {'S': product_type},
        'IDProducto': {'S': product_id }
    }
)

print("item deleted")

item deleted

In [101]:
# update item

new_item_data = {
    "Nombre": "Laptop Legion 5 Gen 6",
    "Marca": "HP",
    "Precio": 20,
    "MemoriaRam": "8gb"
}

update_expression = "SET Nombre = :nombre, Precio = :precio, MemoriaRam = :memoriaram"
expression_attribute_values = {
    ':nombre': {'S': new_item['Nombre']},
    ':precio': {'N': str(new_item['Precio'])},
    ':memoriaram': {'S': new_item['MemoriaRam']},
}

key = {
    'TipoProducto': {'S': "Electronicos"},
    'IDProducto': {'S': "4"}
}

response = dynamodb.update_item(
    TableName=table_name,
    Key=key,
    UpdateExpression=update_expression,
    ExpressionAttributeValues=expression_attribute_values
)

print("Item updated")

Item updated

In [91]:
# Delete item

key = {
    'TipoProducto': {'S': 'Electronicos'},
    'IDProducto': {'S': '2'}
}

            
response = dynamodb.delete_item(
    TableName=table_name,
    Key=key
)

print("item deleted")

item deleted

In [102]:
# put item
item = {
    "TipoProducto": "Instrumentos",
    'IDProducto': "fs8i43",
    "Marca": "Fender",
    "Nombre": "Femmto Stratocaster EG001",
    "Marca": "Fender",
    "Precio": 120,
    "NumeroCuerdas": 6,
    "Color": "Black"
}

item_data = {
    'TipoProducto': {'S': item['TipoProducto']},
    'IDProducto': {'S': item['IDProducto']},
    'Nombre': {'S': item['Nombre']},
    'Marca': {'S': item['Marca']},
    'Precio': {'N': str(item['Precio'])},
    'NumeroCuerdas': {'N': str(item['NumeroCuerdas'])},
    'Color': {'S': item['Color']}
}

response = dynamodb.put_item(
    TableName=table_name,
    Item=item_data
)

print("Item added")

Item added

In [103]:
# get item with query
key_condition_expression = "#tipo = :tipo AND #id = :id"
expression_attribute_names = {"#tipo": "TipoProducto", "#id": "IDProducto"}
expression_attribute_values = {
    ":tipo": {"S": "Instrumentos"},
    ":id": {"S": "fs8i43"},
}

response = dynamodb.query(
    TableName=table_name,
    KeyConditionExpression=key_condition_expression,
    ExpressionAttributeNames=expression_attribute_names,
    ExpressionAttributeValues=expression_attribute_values
)

item = response.get("Items")
print(item[0])

{'Marca': {'S': 'Fender'}, 'Nombre': {'S': 'Femmto Stratocaster EG001'}, 'IDProducto': {'S': 'fs8i43'}, 'NumeroCuerdas': {'N': '6'}, 'Precio': {'N': '120'}, 'Color': {'S': 'Black'}, 'TipoProducto': {'S': 'Instrumentos'}}

In [111]:
# get items with scan
response = dynamodb.scan(
    TableName=table_name,
    FilterExpression='#tipo = :tipo',
    ExpressionAttributeNames={'#tipo': 'TipoProducto'},
    ExpressionAttributeValues={':tipo': {'S': 'Libros'}}
)

items = response.get("Items", [])
for item in items:
    print(f"IDProducto: {item['IDProducto']['S']}, Titulo: {item.get('Titulo', {}).get('S', 'N/A')}, Autor: {item.get('Autor', {}).get('S', 'N/A')}, Precio: {item.get('Precio', {}).get('N', 'N/A')}")

IDProducto: 1, Titulo: El Gran Gatsby, Autor: F. Scott Fitzgerald, Precio: N/A
IDProducto: 3, Titulo: Cien Años de Soledad, Autor: Gabriel García Márquez, Precio: N/A
IDProducto: 9, Titulo: El Gran Gatsby, Autor: F. Scott Fitzgerald, Precio: N/A

In [95]:
# delete item
try:
    dynamodb.delete_table(TableName=table_name)
    print(f"{table_name} table deleted")
except Exception as e:
    print(f"error: {str(e)}")

Productos table deleted